*{
    margin: 0px;
    padding: 0px;
}
    .main_container{
        width: 100%;
        height: 100vh;
        color: aliceblue;
    }
    h1{
        padding-top: 20px;
        margin-left: 610px;
        color: black;
    }
    .marker{
            width: 200px;
            height: 25px;
            margin: 10px auto;
            
    }
    .red{
        background:linear-gradient(rgb(122, 74, 14), rgb(245, 62, 113), rgb(162, 27, 27));
        box-shadow: 0 0 20px 0 rgba(83, 14, 14, 0.8);
    }
    .cap{
        width: 60px;
        height: 20px;
    }
    .sleeve{
        width: 110px;
        height: 25px;
        background-color: rgba(255, 255, 255, 0.5);
        border-left: 10px double rgba(0, 0, 0, 0.75);
    }
    .cap, .sleeve{
        display: inline-block;
    }
    .green{
        background: linear-gradient(rgb(3, 178, 35),rgb(49, 246, 5),rgb(3,178,35));
        box-shadow: 0 0 20px rgba(83, 14, 14, 0.8);
    }
    .cap{
        width: 60px;
        height: 20px;
    }
    .sleeve{
        width: 110px;
        height: 25px;
        background-color: rgba(255, 255, 255, 0.50);
        border-left: 10px double rgba(0, 0, 0, 0.75);
    }
    .cap, .sleeve{
        display: inline-blocks;
    }
    .blue{
        background: linear-gradient(rgb(14, 14, 208),rgb(44, 165, 235),rgb(14,14,208));
        box-shadow: 0 0 20px rgba(83, 14, 14, 0.8);
    }
    .cap{
        width: 60px;
        height: 20px;
    }
    .sleeve{
        width: 110px;
        height: 25px;
        background-color: rgba(255, 255, 255, 0.50);
        border-left: 10px double rgba(0, 0, 0, 0.75);
    }
    .cap, .sleeve{
        display: inline-blocks;
    }
    
        



